@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

<form asp-action="CreateProduct" asp-controller="Product" method="post">
	<input type="text" name="txtName" placeholder="Name" /> <br/>
	<input type="text" name="txtProductPrice" placeholder="Price" /> <br />
	<button>ADD PRODUCT</button>
</form>


